@-moz-viewport {width: device-width; scale:1;}
@-ms-viewport {width: device-width; scale:1;}
@-o-viewport {width: device-width; scale:1;}
@-webkit-viewport {width: device-width; scale:1;}
@viewport {width: device-width; scale:1;}

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
    background-color: black;   
}

*, *::before, *::after {
 box-sizing: inherit;   
}

body {
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
}

header {
    background-color: #126b75;
    padding: 0;
}

.nav {
    position: absolute;
    top: 1.8em;
    right: 0;
}

a {
    color: white;
    text-decoration: none;
    display:inline-block;
}

.social li {
    display:inline-block;
    list-style: none;
}

.nav li {
     display:inline-block;
     list-style: none;
     text-align: right;
}

.nav .text:hover,
.nav .text:focus,
.nav .text:active {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
    margin-left:-21px;
    margin-top: -4px;
 }

.diamond:hover,
.diamond:focus,
.diamond:active {
    background-image: url(../images/square-b.svg);
    height: 30px;
    width: 30px;
    margin-left: 1.5em;
    margin-right: 1.5em;
     -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);      
}

.icon {
    padding: 10px;
    height:100px;
}

.media {
    height: 35px;
    padding-right: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); 
}

.billboard {
    background-image: url(../images/placeholder.svg);
    width: 100%;
    height:50vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {   
    text-align: center;
}

.work {
    width: 100%;
    margin: 0 auto;
    display: block;
}