@-moz-viewport {width: device-width; scale:1;}
@-ms-viewport {width: device-width; scale:1;}
@-o-viewport {width: device-width; scale:1;}
@-webkit-viewport {width: device-width; scale:1;}
@viewport {width: device-width; scale:1;}

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
    background-color: #747474;
    /*background-color: #178e9c;*/
}

*, *::before, *::after {
 box-sizing: inherit;   
}

body {
    color: black;
    margin: 0;
    padding: 0;
    text-align: left;
}

header {
    padding: 0;
}

.text {
    margin-left: 1.2em; 
}

.text2 {
   margin-left: 2.8em;  
}

.line{
    height:1px;
    border-bottom:1px solid white;
    width: 88%;
    align-content: center;
}

.nav .line :hover 
.nav .line :focus 
.nav .line :active {
    background-color: #535352;
}

.nav {
    top: 1.8em;
    right: 0;
}

a {
    color: white;
    text-decoration: none;
    display:block;
}

.social li {
    list-style: none;
    display: inline-block;
}

.nav li {
     list-style: none;
     text-align: left;
     margin-left: .5em;
}

.nav .a:hover,
.nav .a:focus,
.nav .a:active {
    background-color: #535352;
}

.media {
    height: 35px;
    padding-right: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); 
}

.billboard {
    background-image:url(../images/dia.svg), url(../images/placeholder.jpg) ;
    width: 100%;
    height:61vh;
    background-position: center top, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 100px, cover;
}

.bucket img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.pad-top-3{
        padding-top: 1.5rem;
    }

.nav-bottom {
    list-style: none;
    
}

.nav-bottom a {
    color: white;
    float: right;
    text-decoration: none;
    display:inline-block;
    font-size: 100%;
}

.nav-bottom li :hover,
.nav-bottom li :focus,
.nav-bottom li :focus,{
    border-top: 1px solid white;
    border-bottom:1px solid white;
    width: 20%;
    align-content: center;
}

@media only screen and (min-width: 25em) {
    
}

@media only screen and (min-width: 38em) {
     .island-2-2 {
        padding: 0.7500rem;
        } 
    
    .billboard {
        background-image:url(../images/dia2.svg), url(../images/placeholder.jpg) ;
        width: 100%;
        height:95vh;
        background-position: center left, center;
        background-repeat: no-repeat, no-repeat;
        background-size: 130px, cover;
    }

}

@media only screen and (min-width: 60em) { 
    
    .pad-top-3{
        padding-top: 0.7500rem;
    }
    
    .grey {
        filter: url(filters.svg#grayscale)
        filter: gray;
        -webkit-filter: grayscale(1);
    }

    .grey:hover {
        filter:none;
        -webkit-filter: none;
    }   
}

@media only screen and (min-width: 90em) {   
    
}