---
layout: default
---    
    <main class="part2"> 
        <h2 class="title push-none pad-top text-center">MY WORK</h2>
        
          <div class="grid" id="portfolio">
              <!-----------------------one------------------------->  
              
               {% for work in site.data.work %}
              <div class="bucket unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 island-1-4">
                
                    <img src="{{site.baseurl}}/images/piece/{{work.image}}" alt="" id="1">
               </div>
               <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 gutter">
                   <h2 class="push-none giga">{{work.title}}</h2>
                   <p>{{work.info}}</p>
             
                   </div>
              {% endfor %}
        </div>
        
              
<!------------------------two -----------------------
                <<div class="bucket unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 island-1-4">
                {% for work in site.data.work %}
                    <img src="{{site.baseurl}}/images/work/{{work.image}}" alt="" id="2">
               </div>
               <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 gutter">
            
                   <h2 class="push-none giga">{{work.title}}</h2>
                   <p>{{work.info}}</p>
             {% endfor %}
                   </div> 
<!-----------------------three----------------------
            <div class="bucket unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 island-1-4">
                <img src="images/work/3-2.jpg" alt="Tiffany's Campaign" class="work" id="3">
            </div>
            <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 gutter">
                   <h2 class="push-none giga" >Be Her Hero</h2>
                   <p>Every girl dreams of her own super hero and/or prince charming. Men now have a chance to be just that for their loved one with a ring from Tiffany's & Co. This is just one peice from a multiplatform campaing for Tiffany's.</p>
            </div>
              
<!------------------------four----------------------- 
            <div class="bucket unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 island-1-4">
                <img src="images/work/4-1.jpg" alt="placeholder" class="Zombie T-shirt" id="4">
            </div>
            <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 gutter">
                   <h2 class="push-none giga">Zombie T-Shirt</h2>
                   <p>This little guy now has his grubby little fingers on your heart! This shirt is a perfect way to show your love for those undead corpses. Love hurts doesn't it?</p>
            </div> 
              
<!-----------------------five------------------------  
            <div class="bucket unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 island-1-4">
                <img src="images/work/5-2.jpg" alt="placeholder" class="Warlan Logo" id="5">
            </div>
            <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 gutter">
                   <h2 class="push-none giga" >Warlan Logo</h2>
                   <p>This company's new logo is simple yet gives the clean, professional look they are looking for much like the work they do for clients.   </p>
            </div>
             
<!-----------------------six------------------------- 
            <div class="bucket unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 island-1-4">
                <img src="images/work/6-2.jpg" alt="Model Photography" class="work" id="6">
            </div>
            <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 gutter">
                   <h2 class="push-none giga">Photography</h2>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor nulla rutrum aliquam porta. Cras blandit, magna at mattis fermentum, odio orci maximus dui, ut tempor turpis lorem id neque. Proin volutpat eros nibh, sit amet maximus ante elementum et.</p>
            
            </div>
        </div>
    </main> -->
        
</body>
</html>